.first-story {
    width: 50%;

}
.story-width {
    width: 20%;
}
.story-summary {
    margin-bottom: 30px;
    padding: 10px;
}
.grid-item {

}

/*masonry CSS*/
.gutter-sizer { width: 0%;}


.item1 {
    width: 40%;
    /*background: purple;*/
}
.item2 {
    /*background: green;*/
    margin-bottom: 25px;
}
.img-container {
    width: 100%;
}
img {
    width: 100%;
}
